<div class="row">
    <div class="col-8">
        <form [formGroup]="peopleForm" (submit)="createPeople()">
            <div class="form-group">
              <label for="nameLabel">Nome completo</label>
              <input formControlName="forName" type="text" class="form-control" placeholder="Insira o nome">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div class="col-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col-sm-1">N.</th>
                    <th scope="col-sm-1">Nome</th>
                    <th scope="col-sm-1">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let people of peoples; let indexOfelement=index;">
                    <th scope="row">{{ indexOfelement }}</th>
                    <td>{{ people }}</td>
                    <td><button type="submit" class="btn btn-primary">Submit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>